#include <os2.h>
#include "ckorc.h"

POINTER ID_CROSSPTR ckoptr.ptr

ICON    ID_KERMIT   ckoker.icn

MENU    ID_KERMIT
    {
    SUBMENU "Set",                      IDM_SET
        {
        MENUITEM "Terminal...",         IDM_TERM
        MENUITEM "Communications...",   IDM_COMMS
/*        MENUITEM "Network...",          IDM_NETWS */
        MENUITEM "Miscellaneous...",    IDM_MISC
        }

    SUBMENU "Log",                      IDM_LOG
        {
        MENUITEM "Session...",          IDM_SESSLOG
        MENUITEM "Transaction...",      IDM_TRNLOG
        MENUITEM "Debug..."       ,     IDM_DEBUG
        MENUITEM "Packet...",           IDM_PAKT
        }
/*
    SUBMENU "Remote",                   IDM_REMOTE
        {
        MENUITEM "Dir",                 IDM_REMDIR
        MENUITEM "Change dir...",       IDM_REMCD
        MENUITEM "Type...",             IDM_REMTYPE
        }
        
    SUBMENU "Transfer",                 IDM_TFR
        {
        MENUITEM "Send...",             IDM_SEND
        MENUITEM "Get...",              IDM_GET
        MENUITEM "Take...",             IDM_TAKE
        MENUITEM "Transmit...",         IDM_TRANSMIT
        }
*/    
    SUBMENU "Edit",                     IDM_EDIT
        {
        MENUITEM "Copy",                IDM_COPY
        MENUITEM "Append",              IDM_APP
        MENUITEM "Copy and paste",      IDM_COPYPASTE
        MENUITEM "Paste",               IDM_PASTE
        MENUITEM "View Clipboard",      IDM_VIEWCLIP
        MENUITEM "Print graphics",      IDM_PRINTG
        MENUITEM "Meta graphics",       IDM_METAG
        }

    }
    
    
/* This stuff generated by the DLGBOX editor */
DLGTEMPLATE IDD_COMMS LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "", IDD_COMMS, 61, -9, 325, 112, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "Exit", DID_EXIT, 82, 9, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 193, 8, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                WS_TABSTOP | WS_VISIBLE
        CONTROL "Port:", 257, 17, 93, 20, 9, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "COM1", DID_1COM, 77, 93, 42, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "COM2", DID_2COM, 119, 93, 42, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "COM3", DID_3COM, 163, 93, 42, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Handshake:", 277, 17, 74, 58, 9, WC_STATIC, SS_TEXT | 
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "odsr", DID_ODSR, 77, 74, 36, 10, WC_BUTTON, BS_RADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "idsr", DID_IDSR, 119, 74, 36, 10, WC_BUTTON, BS_RADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "octs", DID_OCTS, 163, 74, 34, 10, WC_BUTTON, BS_RADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Baud rate:", 276, 229, 93, 46, 10, WC_STATIC, SS_TEXT | 
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Text", DID_BAUD, 281, 95, 38, 7, WC_ENTRYFIELD, ES_LEFT | 
                ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Parity:", 278, 17, 54, 28, 9, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Even", DID_EVEN, 77, 54, 36, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Odd", DID_ODD, 119, 54, 34, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Mark", DID_MARK, 163, 54, 36, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Space", DID_SPACE, 205, 54, 40, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "None", DID_NONE, 251, 54, 36, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Flow control:", 282, 17, 37, 54, 9, WC_STATIC, SS_TEXT | 
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "None", DID_HRDHND, 77, 37, 56, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Xon/Xoff", DID_XHND, 163, 37, 49, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_TERM LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "", IDD_TERM, 31, -10, 208, 114, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "Terminal Emulation", 256, 55, 98, 86, 8, WC_STATIC, 
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Exit", DID_EXIT, 31, 5, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 125, 5, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                WS_TABSTOP | WS_VISIBLE
        CONTROL "Emulation:", 257, 9, 78, 50, 8, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "VT100", DID_VT100, 64, 77, 40, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Tektronix 4014", DID_TEK4014, 121, 77, 79, 10, WC_BUTTON, 
                BS_AUTORADIOBUTTON | BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Byte size:", 258, 9, 58, 47, 8, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "7bit", DID_TERM7BIT, 64, 57, 32, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "8bit", DID_TERM8BIT, 121, 57, 32, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "Tektronix plot file format:", 259, 9, 40, 114, 8, WC_STATIC, 
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "HPGL", DID_HPGLDMP, 64, 27, 39, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
        CONTROL "None", DID_NODMP, 121, 27, 38, 10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_MISC LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "", IDD_MISC, 35, 66, 256, 56, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "Connect End of Line Character:", 256, 7, 40, 140, 8, 
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "XXX", DID_PEOL, 191, 40, 38, 8, WC_ENTRYFIELD, ES_LEFT | 
                ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Exit", DID_EXIT, 56, 13, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 161, 13, 38, 12, WC_BUTTON, BS_PUSHBUTTON | 
                WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_LG2 LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "", IDD_LG2, 97, -47, 240, 172, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "Open File", DID_LG_TITLE, 7, 154, 224, 8, WC_STATIC, 
                SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Current Directory:", -1, 8, 135, 80, 8, WC_STATIC, SS_TEXT | 
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", DID_LG_CD, 86, 135, 144, 8, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Filename:", -1, 8, 110, 48, 8, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", DID_LG_LOGNME, 56, 110, 176, 8, WC_ENTRYFIELD, ES_LEFT | 
                ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Directories", -1, 16, 96, 92, 8, WC_STATIC, SS_TEXT | 
                DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Files", -1, 134, 96, 92, 8, WC_STATIC, SS_TEXT | DT_CENTER | 
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", DID_DIRLIST, 16, 32, 92, 64, WC_LISTBOX, WS_TABSTOP | 
                WS_VISIBLE
        CONTROL "", DID_FILELIST, 134, 32, 92, 64, WC_LISTBOX, WS_TABSTOP | 
                WS_VISIBLE
        CONTROL "OpenXX", DID_LG_OPCL, 32, 9, 64, 16, WC_BUTTON, BS_PUSHBUTTON | 
                BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 144, 8, 64, 16, WC_BUTTON, BS_PUSHBUTTON | 
                WS_GROUP | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_LG LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "", IDD_LG, 39, 13, 222, 109, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "Close", DID_LG_OPCL, 30, 6, 55, 12, WC_BUTTON, 
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 131, 6, 54, 12, WC_BUTTON, BS_PUSHBUTTON | 
                WS_TABSTOP | WS_VISIBLE
        CONTROL "XXXLog TransactionXXX", DID_LG_TITLE, 43, 95, 126, 8, 
                WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Select  ""Close"" to close the file.", -1, 36, 71, 138, 8, 
                WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Text", DID_LG_LOGNME, 27, 44, 159, 8, WC_ENTRYFIELD, ES_LEFT | 
                ES_MARGIN | WS_TABSTOP | WS_VISIBLE
    END
END
